[
    {
        "iss": "https://oidc:8080/",
        "jku": "https://oidc:8080/jwk"
    },
    {
        "iss": "http://aai-mock:8080/oidc/",
        "jku": "http://aai-mock:8080/oidc/jwk"
    },
    {
        "iss": "http://demo1.example",
        "jku": "htts://mockauth:8080/jwk"
    }
]